<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mars.marsd</string>
  <key>ProgramArguments</key>
  <array>
    <string>__MARS_BIN__/marsd</string>
    <string>--serve</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/mars/marsd.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/mars/marsd.log</string>
</dict>
</plist>
